
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutQTV.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active"><a href="javascript: void(0);">Quản lý</a></li>
                    <li class="breadcrumb-item ">Quản lý người dùng</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title">Quản lý người dùng</h4>
                <p class="text-muted font-14">
                    Quản lý các người dùng hiện có trên hệ thống.
                </p>
                <hr />
                <div class="row">



                    <div class="col-md-6 col-lg-3">
                        <!-- Simple card -->
                        <div class="card d-block">
                            <center><img style="width:100px; text-align:center" class="card-img-top" src="https://xsgames.co/randomusers/avatar.php?g=pixel" alt="Card image cap"></center>
                            <div style="text-align:center" class="card-body">
                                <h5 style="color:yellow" class="card-title">Ông trùm Zăn Đức</h5>
                                <p style="color:powderblue" class="card-text">
                                    Mô tả cơ bản chức vụ.................
                                </p>
                                <a href="javascript: void(0);" class="btn btn-info">Xem chi tiết thông tin</a>
                                <a href="javascript: void(0);" class="btn btn-primary">Sửa thông tin</a>
                            </div>
                        </div>
                    </div>

                  
                



                </div>


                </div>
            </div>
    </div>
</div>