@{
    ViewBag.Title = "Quản lý tài sản";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutQTV.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active"><a href="javascript: void(0);">Quản lý</a></li>
                    <li class="breadcrumb-item ">Quản lý tài sản</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title">Quản lý tài sản</h4>
                <p class="text-muted font-14">
                    Quản lý các tài sản hiện có ở trường.
                </p>
                <ul class="nav nav-tabs nav-bordered mb-3">
                    <li class="nav-item">
                        <a href="#taisan_view" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                            Tài sản
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#nhomtaisan_view" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                            Nhóm tài sản
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#loaitaisan_view" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                            Loại tài sản
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="taisan_view">
                        <div class="table-responsive-sm">
                            <table id="table_taisan" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th class="table-light">Mã tài sản</th>
                                        <th class="table-light">Thuộc nhóm tài sản</th>
                                        <th class="table-light">Thuộc loại tài sản</th>
                                        <th class="table-light">Tên tài sản</th>
                                        <th class="table-light">Giá trị</th>
                                        <th class="table-light">Số lượng</th>
                                        <th class="table-light">Hãng sản xuất</th>
                                        <th class="table-light">Năm sản xuất</th>
                                        <th class="table-light">Nước sản xuất</th>
                                        <th class="table-light">Ghi chú</th>
                                        <th class="table-light">Ngày cập nhật cuối cùng</th>
                                        <th class="table-light">Hành động</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane" id="nhomtaisan_view">
                        <div class="table-responsive-sm">
                            <table id="table_nhomtaisan" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th class="table-light">Mã nhóm tài sản</th>
                                        <th class="table-light">Thuộc loại tài sản</th>
                                        <th class="table-light">Tên nhóm tài sản</th>
                                        <th class="table-light">Ghi chú</th>
                                        <th class="table-light">Ngày cập nhật cuối cùng</th>
                                        <th class="table-light">Hành động</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="tab-pane" id="loaitaisan_view">
                        <div class="table-responsive-sm">
                            <table id="table_loaitaisan" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th class="table-light">Mã loại tài sản</th>
                                        <th class="table-light">Tên loại tài sản</th>
                                        <th class="table-light">Ghi chú</th>
                                        <th class="table-light">Ngày cập nhật cuối cùng</th>
                                        <th class="table-light">Hành động</th>
                                    </tr>
                                </thead>


                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

function LoadData_LoaiTaiSan() {
    $("#table_loaitaisan tbody tr").remove();
    $.ajax({
        type: 'GET',
        url: '@Url.Action("Select_LoaiTaiSan", "TaiSan")',
        dataType: 'json',
        contentType: 'application/json;charset=utf-8',
        success: function (data) {
            var items = '';
            $.each(data.data, function (i, item) {
                var rows = "<tr>"
                    + "<td>" + item.MaLoaiTS + "</td>"
                    + "<td>" + item.TenLoaiTS + "</td>"
                    + "<td>" + item.GhiChu + "</td>"
                    + "<td>" + ToJavaScriptDate(item.NgayCapNhat) + "</td>"
                    + '<td class="table-action"><a onclick = "show_modal_edit(' + item.MaLP +',"loaiphong_edit");" href="javascript:void(0)" class="action-icon"> <i class="mdi mdi-pencil"></i></a>'
                    + '<a href="javascript:void(0)" class="action-icon"> <i class="mdi mdi-delete"></i></a></td>'
                    + "</tr>";
                $('#table_loaitaisan').append(rows);
            });
        },
        error: function (ex) {
            alert("Error_Load_Data");
        }
    });
    return false;
    }

function LoadData_NhomTaiSan() {
    $("#table_nhomtaisan tbody tr").remove();
    $.ajax({
        type: 'GET',
        url: '@Url.Action("Select_NhomTaiSan", "TaiSan")',
        dataType: 'json',
        contentType: 'application/json;charset=utf-8',
        success: function (data) {
            var items = '';
            $.each(data.data, function (i, item) {
                var rows = "<tr>"
                    + "<td>" + item.MaNhomTS + "</td>"
                    + "<td>" + item.TenLoaiTS + "</td>"
                    + "<td>" + item.TenNhomTS + "</td>"
                    + "<td>" + item.GhiChu + "</td>"
                    + "<td>" + ToJavaScriptDate(item.NgayCapNhat) + "</td>"
                    + '<td class="table-action"><a onclick = "show_modal_edit(' + item.MaLP +',"loaiphong_edit");" href="javascript:void(0)" class="action-icon"> <i class="mdi mdi-pencil"></i></a>'
                    + '<a href="javascript:void(0)" class="action-icon"> <i class="mdi mdi-delete"></i></a></td>'
                    + "</tr>";
                $('#table_nhomtaisan').append(rows);
            });
        },
        error: function (ex) {
            alert("Error_Load_Data");
        }
    });
    return false;
}


function LoadData_TaiSan() {
    $("#table_taisan tbody tr").remove();
    $.ajax({
        type: 'GET',
        url: '@Url.Action("Select_TaiSan", "TaiSan")',
        dataType: 'json',
        contentType: 'application/json;charset=utf-8',
        success: function (data) {
            var items = '';
            $.each(data.data, function (i, item) {
                var rows = "<tr>"
                    + "<td>" + item.MaTS + "</td>"
                    + "<td>" + item.TenNhomTS + "</td>"
                    + "<td>" + item.TenLoaiTS + "</td>"
                    + "<td>" + item.TenTS + "</td>"
                    + "<td>" + item.GiaTri + "</td>"
                    + "<td>" + item.SoLuong + "</td>"
                    + "<td>" + item.HangSanXuat + "</td>"
                    + "<td>" + item.NamSanXuat + "</td>"
                    + "<td>" + item.NuocSanXuat + "</td>"
                    + "<td>" + item.GhiChu + "</td>"
                    + "<td>" + ToJavaScriptDate(item.NgayCapNhat) + "</td>"
                    + '<td class="table-action"><a onclick = "show_modal_edit(' + item.MaLP +',"loaiphong_edit");" href="javascript:void(0)" class="action-icon"> <i class="mdi mdi-pencil"></i></a>'
                    + '<a href="javascript:void(0)" class="action-icon"> <i class="mdi mdi-delete"></i></a></td>'
                    + "</tr>";
                $('#table_taisan').append(rows);
            });
        },
        error: function (ex) {
            alert("Error_Load_Data");
        }
    });
    return false;
}

    LoadData_LoaiTaiSan();
    LoadData_NhomTaiSan();
    LoadData_TaiSan();
</script>