
@{
    ViewBag.Title = "Danh sách phân bổ";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutQTV.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active"><a href="javascript: void(0);">Phân bố</a></li>
                    <li class="breadcrumb-item ">Xem danh sách phân bố</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-xl-8">
                        <form class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
                            <div class="col-auto">
                                <label for="inputPassword2" class="visually-hidden">Search</label>
                                <input type="search" class="form-control" id="inputPassword2" placeholder="Tìm kiếm...">
                            </div>
                            <div class="col-auto">
                                <div class="d-flex align-items-center">
                                    <label for="status-select" class="me-2">Lọc theo khu vực phòng</label>
                                    <select class="form-select" id="status-select">
                                        <option selected="">Chọn...</option>
                                        <option value="1">H1</option>
                                        <option value="2">E3</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-4">
                        <div class="text-xl-end mt-xl-0 mt-2">
                            <button type="button" class="btn btn-danger mb-2 me-2"><i class="mdi mdi-basket me-1"></i> Xuất file</button>
                            <button type="button" class="btn btn-light mb-2">Xuất excel</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>STT</th>
                                <th>Tên phòng</th>
                                <th>Số lượng TS-CCDC hiện có</th>
                                <th>Ghi chú</th>
                                <th>Ngày cập nhật cuối cùng</th>
                                <th>Ngày tạo</th>
                                <th style="width: 125px;">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="color:red">E3-103</td>
                                <td style="color:yellow">5407</td>
                                <td>Không có</td>
                                <td>
                                    August 05 2018 <small class="text-muted">10:29 PM</small>
                                </td>
                                <td>
                                    Mastercard
                                </td>

                                <td>
                                    <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                    <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                            
                           
                           
                            
                            
                           

                            
                            
                            

                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>